[Unit]
Description=hatta wiki
After=network.target

[Service]
WorkingDirectory=/home/bernard/hatta
ExecStart=/usr/bin/python -m hatta -p 8001
Restart=always

[Install]
WantedBy=default.target
